<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <hr style="border: none;height: 1px;color: #333;background-color: #333;">
          <p style="font-size: larger; font-weight:600;">Skills</p>
          <ul>
            <li>
              <div style="font-weight:600;">Backend Development</div>
              <div style="font-weight:400;">Java | JDBC | SpringBoot | Python | Flask</div>
            </li>
            <li>
              <div style="font-weight:600;">Frontend Development</div>
              <div style="font-weight:400;">HTML | CSS | JavaScript | ReactJS</div>
            </li>
            <li>
              <div style="font-weight:600;">Soft Skills</div>
              <div style="font-weight:400;">Team Player | Deliver Results | Optimistic</div>
            </li>
            <li>
              <div style="font-weight:600;">Database</div>
              <div style="font-weight:400;">MYSQL</div>
            </li>
            <li>
              <div style="font-weight:600;">Penetration Tester</div>
            </li>
          </ul>
          <hr style="border: none;height: 1px;color: #333;background-color: #333;">
          <p style="font-size: larger; font-weight:600;">Internships</p>
          <ul>
            <li style="font-weight:400;">Internship at Rojolt edtech Pvt Ltd</li>
          </ul>
          <hr style="border: none;height: 1px;color: #333;background-color: #333;">
          <br>
          <p style="font-size: larger; font-weight:600;">Projects</p>
        </div>
      </div>

      <div class="col-md-12">
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="static/assets/images/cms.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/003</h4>
                        <h3>Content Management System</h3>
                        <p>A Simplified Content Management System Solution in Java.</p>
                        <a href="./work.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="static/assets/images/amazonph.jpeg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/003</h4>
                        <h3>Amazon-Clone Frontend</h3>
                        <p>Developed a responsive frontend for an Amazon clone.</p>
                        <a href="./work.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="static/assets/images/currency.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/003</h4>
                        <h3>Currency Converter</h3>
                        <p>Built a full-stack currency converter with frontend and backend integration.</p>
                        <a href="./work.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                </row>
            </div>
            <!--/item-->
            <!-- <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="static/assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Nulla scelerisque</h3>
                      <p>Proin pharetra metus id iaculis dignissim. In aliquet lorem ut ex ullamcorper.</p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="static/assets/images/work01-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>Fringilla sit amet</h3>
                        <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies.</p>
                        <a href="./work.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="static/assets/images/work03-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>Vivamus vestibulum</h3>
                        <p>Fusce sed hendrerit augue, a rhoncus velit. In non lorem mattis, tempor sem sit amet.</p>
                        <a href="./work.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                </row-->
            <!-- </div>
            
            <--/item-->
        <!-- </div> -->
        <!--/carousel-inner--> 
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>  --> 



    <!--/myCarousel-->
    </div>
    <hr style="border: none;height: 1px;color: #333;background-color: #333;">
    <p style="font-size: larger; font-weight:600;display: flex; justify-content: center;">Accomplishments & Coursework</p>
    <ul>
      <li style="font-weight:500;display: flex; justify-content: center;">3 Star Silver Badge in python hackerrank </li>
      <li style="font-weight:500;display: flex; justify-content: center;">Problem solving certificate from hacker rank</li>
      <li style="font-weight:500;display: flex; justify-content: center;">Python certificate from infosys springboard</li>
      <li style="font-weight:500;display: flex; justify-content: center;">Java programming fundamentals from infosys springboard</li>
    </ul>

    <hr style="border: none;height: 1px;color: #333;background-color: #333;">
    <p style="text-align: center; font-weight: 600; font-size: larger;">Get to know more about my works</p>
    <div>
      <a style="display: flex; justify-content: space-evenly; color: black; text-decoration: none; font-weight: 400;" target="_blank" href="https://github.com/praneethmadishetty?tab=repositories">GitHub</a>
      <a style="display: flex; justify-content: space-evenly; color: black; text-decoration: none; font-weight: 400" target="_blank" href="https://www.linkedin.com/in/madishetty-praneeth-kumar-23122a251/">Linkedin</a>
    </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
  });
</script>
<script type="text/javascript" src="static/main.70a66962.js"></script></body>

</html>